Source: ros-indigo-carl-demos
Section: misc
Priority: extra
Maintainer: Russell Toris <rctoris@wpi.edu>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/carl_demos
Standards-Version: 3.9.2

Package: ros-indigo-carl-demos
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-carl-safety, ros-indigo-interactive-marker-proxy, ros-indigo-tf2-web-republisher
Description: Demo Applications for CARL
