<launch>
  <!-- Safety Nodes -->
  <include file="$(find carl_safety)/launch/carl_safety_interface.launch" />

  <!-- Web Nodes -->
  <node name="carl_im_proxy" pkg="interactive_marker_proxy" type="proxy" output="screen">
    <remap from="topic_ns" to="/carl_interactive_manipulation" />
    <remap from="target_frame" to="/base_footprint" />
  </node>
  <node name="parking_marker_proxy" pkg="interactive_marker_proxy" type="proxy" output="screen">
    <remap from="topic_ns" to="/parking_markers" />
    <remap from="target_frame" to="/base_footprint" />
  </node>
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" output="screen" />
  <node name="web_video_server" pkg="web_video_server" type="web_video_server" output="screen">
    <param name="verbose" value="false" />
  </node>
  <node name="rail_user_queue_manager" pkg="rail_user_queue_manager" type="rail_user_queue_manager" output="screen" />
</launch>
